<h1> Test Event 1 </h1>
<h3> 05-01-2021 </h3>

<table class="table event-notes">
  <thead>
    <tr>
      <th >Event Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Cake must be picked up a day in advance!
      </td>
      <td></td>
      <td style="white-space: nowrap">
        <a class="btn btn-sm btn-primary mr-1">Edit</a>
        <a class="btn btn-sm btn-danger">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 60%">Service Provider</th>
      <th style="width: 60%">Service</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a routerLink= "/service-prov-portfolio"> Mendoker's Bakery </a>
      </td>
      <td>Cake</td>
      <td style="white-space: nowrap">
        <a class="btn btn-sm btn-danger">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<a routerLink= "/event-list" class="btn mr-1">Done</a>
<a routerLink= "/search-providers" class="btn mr-1">Search For Providers</a>