button{
  background-color:  #008c9b;
}
a{
  color: #008c9b;
}
h1{
  color:#008c9b;
  text-align: center;
}
h2{
  color: #008c9b
}
h3{
  font-size: 1.3em;
  font-style: oblique;
  text-align: center;
}