<h1><strong>Mendoker's Bakery</strong></h1>
<h4><strong>State: </strong>NJ</h4>
<h4><strong>Services:</strong> Wedding cake, pastries, cupcakes</h4>
<table class="table event-notes">
  <thead>
    <tr>
      <th style="width: 60%">Additional Notes:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Custom cakes that serve 8 starting at just $29.99!
        Call today to order: (732) 521-0056
      </td> 
    </tr>
  </tbody>
</table>
<a navLink= "/event-list" class="btn">Add To Event</a>
<a href="https://www.mendokersqualitybakery.com/"  target="_blank">Visit Site </a>

